section.container-projects{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    animation: section 2s;
}
.container-projects article{
    height: 100%;
    width: 25%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E3E1D8;
    transition: all 500ms;
    position: relative;
}

.container-projects h1{
    padding: 50px 0;
    top: 45%;
    width: 100%;
    text-align: center;
    margin: 0;
    z-index: 3;
    /* position: absolute; */
}

.container-projects a{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.container-projects article div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: absolute;
}

.container-projects span{
    position: absolute;
    top: 55%;
    z-index: 5;
}

@keyframes back {
    from{opacity: 0;}
    to{opacity: 1;}
}

@media (max-width: 900px){
    section.container-projects{
        flex-direction: column;
        position: relative;
    }

    .container-projects h1{
        position: absolute;
        top: 35%;
    }

    .container-projects article{
        width: 95%;
        height: 200px;
        margin: 20px auto;
        border-radius: 10px;
        background-size: cover;
    }

    .un{
        background: url(../../img/meteo.jpg) center 70% no-repeat;
    }

    .deux{
        background: url(../../img/movie.jpg) center 70% no-repeat;
    }

    .trois{
        background: url(../../img/manga.jpg) center 70% no-repeat;
    }

    .quatre{
        background: url(../../img/bgBierre.jpg) center 70% no-repeat;
    }

    .container-projects article div{
        border-radius: 10px;  
    }

    .container-projects article span{
        top: 75%;
    }
}


