section.container-projects{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    animation: section 2s;
}
.container-projects article{
    height: 100%;
    width: 25%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent center no-repeat;
    background-size: cover;
    color: #E3E1D8;
    transition: all 500ms;
}

/* 
.container-projects article:hover{
    background: url(../../img/bgBierre.jpg) center no-repeat;
    background-size: cover;
    animation: section 2s;
} */
