header{
    position: relative;
    z-index: 1;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    max-width: 100%;
    margin: 5px auto;
    color: #E3E1D8;
}
nav h1 {
    padding: 0;
    margin: 0;
    min-width: 250px;
}

nav ul{
    margin: 0;
    padding: 0;
    min-width: 164px;
    display: flex;
    align-items: center;
}
nav ul li {
    display: inline;
    list-style: none;
    margin: 0 10px;
    border-bottom: transparent 1px solid;
    transition: all 500ms;
}

nav ul li:hover{
    border-bottom: #E3E1D8 solid 1px ;
}
